h3, h4 {
    text-align: center;
}
.principal{
    background-color: yellow; 
    padding: 0px;
    margin-top: 0px;/*Margen superior com 1 pixel*/
    margin-left: -8px;
    margin-right: 0px;
    float: left;/*propriedade indicando que a Área flutuará a esquerda*/
    width: 100%; /*Ocupando 24% da largura total destinada para o corpo*/
    height: 600px; /*Altura de 500 pixels*/
}
.logado{
    background-color: gray;
    margin-top: 0px;
    margin-right: -8px;
    margin-left: 0px;
    padding: 8px;
    float: right;    
    width: 100%; /*Ocupando 24% da largura total destinada para o corpo*/
    height: 60px; /*Altura de 500 pixels*/
}
.secao1{
    background-color: buttonface; 
    padding: 5px;
    margin-bottom: 0px;/*Margen superior com 1 pixel*/
    float: left;/*propriedade indicando que a Área flutuará a esquerda*/
    width: 30%; /*Ocupando 24% da largura total destinada para o corpo*/
    height: 576px; /*Altura de 500 pixels*/
}
.secao2{
    background-color: powderblue;/*Cor de fundo*/    
    padding: 5px;/*Margen interna de 3 pixels*/
    float: right;/*propriedade indicando que a Área flutuará a direita*/
    margin-right: -16px;
    margin-bottom: 0px;/*Margen superior com 1 pixel*/
    margin-left: 0px;
    width: 68.5%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 576px;/*Altura de 494 pixels*/
}
.cabecalho{
    background-color: violet;/*Cor de fundo*/    
    padding: 2px;/*Margen interna de 3 pixels*/
    float: right;/*propriedade indicando que a Área flutuará a direita*/  
    width: 100%;/*Ocupando 74% da largura total destinada para o corpo*/
    height: 30px;/*Altura de 494 pixels*/ 
    margin-top: 587px;
    position: fixed;
    text-align: center;
}